{
  // Server configuration
  "server": {
    // Server port
    "port": 3000,
    // CORS
    "corsOrigins": [
      'http://localhost:8080',
      'http://localhost:8081'
    ],
     // Client
    "clientHost": "http://localhost:8080"
  },

  // API configuration
  "api": {
    // Prefix
    "prefix": "api",
    // Secret (sessions, etc)
    "secret": "abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()_+-="
  },

  // Database configuration
  "database": {
    // DB driver (mysql/postgres)
    "type": "mysql",
    // DB host
    "host": "localhost",
    // DB port
    "port": 3306,
    // DB username
    "username": "root",
    // DB password
    "password": "",
    // DB name
    "database": "nodets",
    // Schema (Postgres-only)
    "schema": "public",
    // Charset (MySQL-only)
    "charset": "UTF8MB4_UNICODE_CI",
    // Timezone (MySQL-only)
    "timezone": "local",
    // TypeORM logs
    "logging": true
  },

  // Redis configuration
  "redis": {
    // Connection string (discards host and port)
    "connStr": null,
    // Host
    "host": "localhost",
    // Port
    "port": 6379
  },

  // Crypto
  "cryptocurrency": {
    "ethereum": {
      "blockLowerBound": 8945135,
      "mainWallet": "0x17B79f40E70F4BA28771b751b437e50E47ABA445",
      "erc20Contracts": {
        "ETH": {
          "address": "",
          "precision": 18
        }
      }
    },
    "etherscan": {
      "apiKey": "YourApiKeyToken",
      // Ethereum network (kovan|mainnet)
      "network": "mainnet"
    },
    "crex24": {
      "requestTimer": 30000,
    },
    "southxchange": {
      "requestTimer": 30000,
    }
  },

   // Mail configuration
  "mail": {
    // Host
    "host": "smtp.mailtrap.io",
    // Port
    "port": 2525,
    // Username
    "username": "6a9cb178587053",
    // Password
    "password": "8fd523363c0d53",
    // From
    "from": "noreply@domain.com",
    "support": "support@domain.com"
  },

   // Miscellaneous
  "misc": {
    // Feature states
    "enableFeature": {
      "registration": true,
      "deposit": true,
      "investment": true,
      "withdrawal": true
    },
    // Choose price API service (crex24 || southxchange)
    "priceService": "southxchange",
    // Referral bonus percentage
    "refPercentage": 5,
    // Resend confirmation mail duration (10 m in ms)
    "resendConfirmationMailDuration": 600000,
    // Limits (USD)
    "limit": {
      "deposit": {
        "min": 10
      },
      "withdrawal": {
        "min": 25
      } 
    }
  }
}
